<div class="center">
    <section id="content">

        <h1 class="subheader">{{page_title}}</h1>

        <!-- FORMULARIO -->
        <form class="mid-form" #articleForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="title">Título</label>
                <input type="text" name="title" #title="ngModel" [(ngModel)]="article.title" required/>
                <small class="color-rojo" *ngIf="!title.valid && title.touched">
                    El título no es válido o está vacío
                </small>
            </div>
            
            <div class="form-group">
                <label for="content">Contenido</label>
                <textarea name="content" #content="ngModel" [(ngModel)]="article.content" required></textarea>
                <small class="color-rojo" *ngIf="!content.valid && content.touched">
                    El contenido no es válido o está vacío
                </small>
            </div>
            
            <div class="form-group">
                <label for="image">Imagen</label>
                <div class="image-thumb" *ngIf="isEdit">
                    <img src="{{url + 'get-image/' + article.image}}" alt="{{article.title}}" *ngIf="article.image"/>
                    <img src="assets/images/default-image.png" alt="{{article.title}}" *ngIf="!article.image"/>
                </div>
                <ngx-image-uploader [options]="options" (upload)="imageUpload($event)"></ngx-image-uploader>
            </div>

            <!-- Limpiar los flotados -->
            <div class="clearfix"></div>

            <input type="submit" value="GUARDAR" class="btn btn-success"
                   [disabled]="articleForm.invalid" style="margin-top: 60px;">
        </form>

    </section>

    <app-sidebar></app-sidebar>
</div>