<app-slider [nombre]="'Blog'" [size]="'small'"></app-slider>

<div class="center">
    
    <section id="content">

        <article class="article-item article-detail">
            <div class="image-wrap">
                <img src="https://corporativo.leroymerlin.es/documents/38162/87605/4+paisaje+macedonia.jpg/8b1c3857-3c16-8b33-413a-69f54487fd95?t=1617890651830" alt="Paisaje"/>
            </div>
            <h1 class="subheader">Artículo de prueba</h1>
            <span class="date">Hace 5 minutos</span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet tortor vitae quam interdum dignissim vel in nibh. Sed sodales sem arcu. Duis ac fringilla eros. Etiam tellus nunc, tincidunt dapibus magna id, mollis mollis magna. Curabitur sed libero et neque ultrices tempor et ut tortor. Vestibulum vitae risus non magna vulputate suscipit. Donec in ante nulla. Etiam efficitur sem non arcu ullamcorper, et euismod enim semper.                        
            </p>
            <p>
                In fermentum lectus et purus porttitor accumsan. Sed id sodales augue. Proin interdum ipsum ante. Quisque elementum pellentesque nibh et ornare. Duis vitae nunc ut neque placerat faucibus nec eu libero. Suspendisse vitae rutrum sapien. Vivamus sagittis eros in dignissim dapibus. Aliquam ut odio non lorem posuere dapibus ac nec libero. Duis sit amet felis blandit, tincidunt lorem vel, sagittis mauris.
            </p>
            <p>
                Curabitur sagittis fringilla mi vel blandit. Cras vitae lectus malesuada, ultrices neque ut, hendrerit lacus. Sed pharetra, magna quis aliquam pretium, dolor nisi commodo justo, ut consequat urna turpis ut nunc. Praesent ac nisl ac arcu convallis volutpat. Suspendisse potenti. Nullam elementum ipsum in vulputate auctor. Sed dolor nulla, interdum nec viverra eget, pharetra iaculis nunc. Integer consectetur sem vitae condimentum finibus. Pellentesque a commodo lacus. Vestibulum in pulvinar metus, ut tempor eros. Duis ullamcorper tincidunt elit, id viverra diam maximus vitae. Suspendisse magna lectus, maximus vel laoreet maximus, consectetur at dolor. Praesent convallis mauris id lacus porta eleifend. Vestibulum sollicitudin semper elit, et porta nunc blandit sed. Duis facilisis ante sit amet eros ultricies, finibus vestibulum nisi suscipit.
            </p>

            <!-- Limpiar los flotados -->
            <div class="clearfix"></div>
        </article>

     </section>
     
    <app-sidebar></app-sidebar>
</div>

