<app-slider [nombre]="'Formulario'" [size]="'small'"></app-slider>

<div class="center">
    <section id="content">

        <h1 class="subheader">Formulario del blog</h1>

        <!-- <div id="datos-de-prueba" *ngIf="user.nombre">
            <h3>Datos de prueba</h3>
            <ul>
                <li>{{user.nombre}}</li>
                <li>{{user.apellidos}}</li>
                <li>{{user.bio}}</li>
                <li>{{user.genero}}</li>
            </ul>
        </div> -->

        <!-- FORMULARIO -->
        <form class="mid-form" #userForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="user.nombre" required pattern="[a-zA-Z]+"/>
                <small class="color-rojo" *ngIf="!nombre.valid && nombre.touched">El nombre no es válido o está vacío</small>
            </div>
            
            <div class="form-group">
                <label for="apellidos">Apellidos</label>
                <input type="text" name="apellidos" #apellidos="ngModel" [(ngModel)]="user.apellidos" required pattern="[a-zA-Z]+"/>
                <small class="color-rojo" *ngIf="!apellidos.valid && apellidos.touched">Los apellidos no son válidos o están vacíos</small>
            </div>
            
            <div class="form-group">
                <label for="bio">Biografia</label>
                <textarea name="bio" #bio="ngModel" [(ngModel)]="user.bio" required></textarea>
                <small class="color-rojo" *ngIf="!bio.valid && bio.touched">La biografía no es válida o está vacía</small>
            </div>
            
            <div class="form-group radiobuttons">
                <input type="radio" name="genero" value="hombre" #genero="ngModel" [(ngModel)]="user.genero" required/> Hombre
                <input type="radio" name="genero" value="mujer" #genero="ngModel" [(ngModel)]="user.genero"/> Mujer
                <small class="color-rojo" *ngIf="!genero.valid && genero.touched">El genero no es válido o está vacío</small>
            </div>

            <!-- Limpiar los flotados -->
            <div class="clearfix"></div>

            <input type="submit" value="Enviar" class="btn btn-success" [disabled]="userForm.invalid">
        </form>

        <br>

        <!-- Eventos -->
        <h2 class="subheader">Eventos</h2>
        <button (click)="hasDadoClick()">Dale click!</button>
        <!-- <input type="text" [(ngModel)]="campo" (blur)="hasSalido()"/> {{campo}} -->
        <input type="text" [(ngModel)]="campo" (keyup.enter)="hasSalido()"/> {{campo}}

    </section>

    <app-sidebar></app-sidebar>
</div>